<div class="container">
    <div class="formulario">
        <div class="area-logo">
            <img class="logo" src="/assets/img/logoDevInHouse.png" alt="logo">
        </div>
        <div class="area-titulo">
            <span class="titulo">Dev-Agro</span>
            <span class="subtitulo">Entre com seu login e senha</span>
        </div>
        <form>
            <label class="label">EMAIL</label>
            <input type="text" placeholder="Email" required>

            <label class="label">SENHA</label>
            <a href="#" class="forget-password">Esqueceu a senha?</a>

            <input type="password" placeholder="Senha">
            <button class="btn-login">Log in</button>
            <i class="fa fa-eye-slash"></i>
        </form>
        <div class="area-signin">
            <span>Sua empresa não possui conta?</span>
            <a href="#">Crie agora!</a>
        </div>
    </div>
</div>