<!-- <p>grao-read works!</p> -->

<div class="container">
    <header>
      <section class="title">
          <h3>Lista de Graos</h3>
      </section>
      <section class="filters">
        <div class="order">
          <span> ii Ordenar</span>
        </div>
        <div class="filter">
          <span>ii Filtro</span>
        </div>
      </section>
    </header>
  
    <main>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Grão</th>
            <th scope="col">Fazenda Plantada</th>
            <th scope="col">Colhida</th>
            
          </tr>
        </thead>
        <tbody>
          <!-- detalhes -->
          <tr>
            <td>
              <div class="detalhes-linha">
                <div class="imagem">
                  <img src="/assets/img/soja.jpg" alt="perfil">
                </div>
                <div class="detalhes-content">
                  <span class="detalhes-name">Soja</span>
                  <p class="detalhes-date">Soja Tipo A</p>
                </div>
              </div>
            </td>
            <!-- alocado -->
            <td>
              <div class="detalhes-linha">
                <div class="detalhes-content">
                  <span class="detalhes-name">Estância das vivências</span>
                  <p class="detalhes-date">04/05/2022</p>
                </div>
              </div>
            </td>
  
          
            <!-- ativo -->
            <td>
              <div class="detalhes-linha">
                <div class="active no">Não</div>
              </div>
            </td>
  
            <td>
              <div class="detalhes-linha">
                <div class="icone">
                  :
                </div>
              </div>
            </td>
          </tr>
  
          <tr>
            <td>
              <div class="detalhes-linha">
                <div class="imagem">
                    <img src="/assets/img/milho.jpg" alt="perfil">
                </div>
                <div class="detalhes-content">
                  <span class="detalhes-name">Milho</span>
                  <p class="detalhes-date">Milho Tipo B</p>
                </div>
              </div>
            </td>
            <!-- alocado -->
            <td>
              <div class="detalhes-linha">
                <div class="detalhes-content">
                  <span class="detalhes-name">Arrozeira do Futuro</span>
                  <p class="detalhes-date">03/03/2022</p>
                </div>
              </div>
            </td>
  
           
            <!-- ativo -->
            <td>
              <div class="detalhes-linha">
                <div class="active yes">sim</div>
              </div>
            </td>
  
            <td>
              <div class="detalhes-linha">
                <div class="icone">
                 :
                </div>
              </div>
            </td>
          </tr>
  
          <tr>
            <td>
              <div class="detalhes-linha">
                <div class="imagem">
                    <img src="/assets/img/algodao.jpg" alt="perfil">
                </div>
                <div class="detalhes-content">
                  <span class="detalhes-name">Algodão</span>
                  <p class="detalhes-date">Algodão Industrial</p>
                </div>
              </div>
            </td>
            <!-- alocado -->
            <td>
              <div class="detalhes-linha">
                <div class="detalhes-content">
                  <span class="detalhes-name">Fazenda Brazil</span>
                  <p class="detalhes-date">04/05/2022</p>
                </div>
              </div>
            </td>
  
           
            <!-- ativo -->
            <td>
              <div class="detalhes-linha">
                <div class="active yes">sim</div>
              </div>
            </td>
  
            <td>
              <div class="detalhes-linha">
                <div class="icone">
                  :
                </div>
              </div>
            </td>
          </tr>
  
       
  
         
  
  
        </tbody>
      </table>
    </main>
  
    <div (click)="navigateToGrainCrete()" class="button-add">
      +
    </div>
  
    <footer>
      <div class="footer-content">
        <span>1-8 de 20 Grãos</span>
        <span> <    > </span>
      </div>
    </footer>
  
  
  </div>
  
