<mat-card class="create">
    <mat-card class="sign-up">
        <div class="logo-container">
            <a routerLink="/" class="logo">
                <img src="/assets/img/logoDevInHouse.png" alt="dev-agro">
            </a>
        </div>
        <p class="title">Dev-Agro</p>
        <p class="subtitle">Cadastro de Empresa</p>

        <form>
            <label for="eName">NOME</label>
            <input type="text" placeholder="Nome da Empresa">
            <label for="ecnpj">CNPJ</label>
            <input type="text" placeholder="CNPJ">
            <label for="endereco">ENDEREÇO DA SEDE</label>
            <input type="text" placeholder="Endereço">
            <label for="email">E-MAIL</label>
            <input type="text" placeholder="E-mail">
            <label for="password">SENHA</label>
            <input type="password" placeholder="Senha">
            <label for="retypepassword">DIGITE NOVAMENTE A SENHA</label>
            <input type="password" placeholder="Senha">
            <input type="submit" value="Log In">
        </form>



    </mat-card>
</mat-card>