<mat-card class="create">
  <form>
    <div class="input-fields">
      <label class="descricao-input">NOME</label>
      <input type="text" name="nome" class="input-field" [(ngModel)]="fazenda.name" placeholder="Nome da Fazenda" required>
    </div>
    <div class="input-fields">
      <label class="descricao-input">ENDEREÇO</label>
      <input type="text" name="endereco" class="input-field" [(ngModel)]="fazenda.endereco" placeholder="Endereço da Fazenda" required>
    </div>
    <div class="input-fields">
      <label class="descricao-input">GRÃO</label>
      <input type="text" name="grao" class="input-field" [(ngModel)]="fazenda.grao" placeholder="Grão" required>
    </div>
    <div class="input-fields">
      <label class="descricao-input">DATA DA ÚLTIMA COLHEITA</label>
      <input type="text" name="ultimaColheita" class="input-field" [(ngModel)]="fazenda.ultimaColheita" placeholder="Data da Última Colheita" required>
    </div>
  </form>
</mat-card>
<mat-card class="button-position">
  <button (click)="createFazenda()">CADASTRAR</button>
  <button id="cancel" (click)="cancel()">CANCELAR</button>
</mat-card>
