//Componente que compreende os cards
header {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
}

//Dentro do componente aplica os estilos nos cards (através da tag)
header mat-card {
  margin-top: 15px;
  height: 15vh;
  width: 100%;
  border-radius: 8px;
}

//Aplica um estilo em um card ou mais em especifico através da classe
header .card-1{
  width: 100%;
  display: inline;
  text-align: center;
  margin-right: 191px;
  border: 2px solid #375F24;
  color: #375F24;
}

//Aplica um estilo no titulo do card especificado pela classe
header .card-1 h3 {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

//Aplica um estilo no conteúdo do card especificado pela classe
header .card-1 span {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
}

//Aplica um estilo em um card ou mais em especifico através da classe
header .card-2 {
  width: 100%;
  display: inline;
  text-align: center;
}

//Aplica um estilo no titulo do card especificado pela classe
header .card-2 h3 {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #375F24;
}

//Aplica um estilo no conteúdo do card especificado pela classe
header .card-2 span {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
}
