main{
  margin-top: 20px;
  margin-bottom: 30px;
}

.principal-main{
  border: green solid;
  border-radius: 10px;
}

.read {
  height: 43vh;
  width: 83.46vw;
  margin: 0px 0px 0px 0px;
  border: 2px solid #DFE0EB;
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
}

.read .header-table {
  line-height: 24px;
  margin: 0px 10px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.read .header-table .title h3 {
  width: 400px;
  line-height: 24px;
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0.4px;
  color: #252733;
}

.read .header-table .filters {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #4B506D;
}

.read .header-table .filters .filter, .read .header-table .filters .order {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.read .header-table .filters .filter:hover, .read .header-table .filters .order:hover {
  transform: scale(1.1);
}

.table{
  margin-top: 45px;

}

.mat-card{
  margin: 0px 0px 0px 0px;
  height: 100%;
}

.table-responsive {
  margin-top: -10px;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.card1{
  height: 120px;
  width: 40%;
  background-color: #FFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 200px;
  border: green solid;
}

.card2{
  height: 120px;
  width: 40%;
  background-color: #FFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: green solid;
}

.card3{
  height: 120px;
  width: 40%;
  background-color: #FFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  
  margin-right: 50px;
  border: green solid;
}

.card4{
  height: 120px;
  width: 40%;
  background-color: #FFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: green solid;
}

.card1 span, .card2 span{
  margin-top: 30px;
}

.farm-title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #375F24;
}

.numbers{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #375F24;
  align-items: center;
}

.detalhes-name{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 1px;
  color: blue;
  align-items: flex-start;
}

.harvest-title, .farm-title-table{
  font-size: 20px;
}

header {
  margin-top: -20px;
  display: flex;
}

mat-card {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 25px;
  
}

header mat-card {
  height: 17vh;
  width: 100%;
}

.table {
  height: 300px;
}

footer {
  height: 2%;
  display: flex;
}

footer mat-card {
  height: 30vh;
  width: 100%;
}

.temperatura-name{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 1px;
  color: blue;
  align-items: flex-start;
}

.table-responsive-temp {
  height: 240px;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 10px;
}

.farm-title-temp {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #375F24;
}

.numbers-temp{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: 1px;
  color: blue;
  align-items: flex-start;
}

.icons-temp{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: 1px;
  color: blue;
  align-items: flex-start;
}

.detalhes-name-temp{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: 1px;
  color: blue;
  align-items: flex-start;
}

canvas{
  width: 26vw;
  height: 26vh
}

.material-symbols-outlined {
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
  align-items: flex-start;
  font-size: 34px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
}

.material-symbols-sharp {
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
  align-items: flex-start;
  font-size: 34px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}