<header>
  <mat-card class="card1">
    <span class="farm-title">Total de propriedades</span>
    <span class="numbers">{{ fazendas.length }}</span>
  </mat-card>
  <mat-card class="card2">
    <span class="farm-title">Total de Funcionários</span>
    <span class="numbers">{{ funcionarios.length }}</span>
  </mat-card>
</header>
<main class="principal-main">
  <mat-card class="read">
    <header class="header-table">
      <section class="title">
        <h3>Propriedades cadastradas</h3>
      </section>
    </header>
    <main class="main-table">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nome da Propriedade</th>
              <th scope="col">Previsão de colheita</th>
            </tr>
          </thead>
          <tbody>
            <!-- detalhes -->
            <tr *ngFor="let fazenda of fazendas">
              <td>
                <div class="detalhes-linha">
                  <div class="detalhes-content">
                    <span class="detalhes-name">{{ fazenda.name }}</span>
                  </div>
                </div>
              </td>
              <!-- alocado #### OBS: TROCAR POR PRóXIMA COLHEITA #####-->
              <td>
                <div class="detalhes-linha">
                  <span class="detalhes-name">{{
                    fazenda.ultimaColheita
                  }}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </mat-card>
</main>
<footer>
  <mat-card class="card3" *ngIf="weatherData">
    <span class="farm-title-temp">Previsão do tempo propriedades</span>
    <div class="table-responsive-temp">
      <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
          <!-- detalhes -->
          <tr *ngFor="let fazenda of fazendas">
            <td>
              <div class="detalhes-linha">
                <div class="detalhes-content">
                  <span class="detalhes-name-temp">{{ fazenda.name }}</span>
                </div>
              </div>
            </td>
            <td>
              <div class="detalhes-linha-temp">
                <span class="numbers-temp">{{ weatherData.main.temp | number: '1.0-0'}}˚C</span>
              </div>
            </td>
            <td>
              <div class="detalhes-linha">
                <span class="weather-icon">Teste<img src=""></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>




    <!-- <span class="farm-title">Previsão do tempo propriedades</span>
    <tr *ngFor="let fazenda of fazendas">
      <td>
        <div class="detalhes-linha">
          <div class="detalhes-content">
            <span class="temperatura-name">{{ fazenda.name }}</span>
            <span class="numbers">{{ weatherData.main.temp | number: '1.0-0'}}˚C</span>
            <span class="weather-icon">Teste<img src=""></span>
          </div>
        </div>
      </td>
    </tr> -->
    
  </mat-card>
  <mat-card class="card4">
    <span class="farm-title">Estoque de grãos</span>
    <span class="numbers">38</span>
  </mat-card>
</footer>
