
<!--
<p>funcionario-update works!</p>
-->

<mat-card class="update">
  <form>
    <div class="input-fields">
      <label class="descricao-input">NOME</label>
      <input type="text" name="nome" class="input-field" placeholder="Nome">
    </div>
    <div class="select-fields">
      <label class="descricao-input">FAZENDA</label>
      <select name="fazenda" class="select-field">
        <option value="1">Op 1</option>
        <option value="2">Op 2</option>
      </select>
    </div>
    <div class="input-fields">
      <label class="descricao-input">FUNÇÃO PRINCIPAL</label>
      <input type="text" name="funcao" class="input-field" placeholder="Função principal">
    </div>
    <div class="switch-toggle">
      <label class="descricao-input">ATIVO</label>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="button-fields">
      <label class="descricao-input">FOTO</label>
      <button mat-icon-button id="foto">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>
  </form>
</mat-card>
<mat-card class="button-position">
  <button>ALTERAR</button>
</mat-card>

