
.sidenav {
  background-color: #375F24;
  width: 255px;
  height: 100%;
}

.sidenav a {
width: 100%;
height: 56px;
color: #DDE2FF;
position: relative;
}

.sidenav i {
padding-left: 25px;
padding-right: 31px;
}

.nav-list {
margin-top: 128px;
font-weight: 400;
font-size: 16px;
line-height: 20.08px;
}

.sidenav a:hover {
  background-color: #668b594f;
  opacity: 0.8;
  text-decoration: none;
  width: 100%;
  height: 56px;
  color: #DDE2FF;
  position: relative;
}

.sidenav i {
  padding-left: 25px;
  padding-right: 31px;
}

.nav-list {
  margin-top: 128px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.08px;
}

.sidenav a:hover {
    background-color: #668b594f;
    opacity: 0.8;
    text-decoration: none;
}

.content {
  padding: 16px;
  background-color: #F7F8FC;
  height: 100vh;
}

.selected {
background-color: #668b594f;
opacity: 0.8;
}

.selected .selected-indicator {
width: 0;
height: 93%;
border: 2px solid #DDE2FF;
position: absolute;
left: 1px;
}

.selected {
  background-color: #668b594f;
  opacity: 0.8;
}

.selected .selected-indicator {
  width: 0;
  height: 93%;
  border: 2px solid #DDE2FF;
  position: absolute;
  left: 1px;
}
