/* You can add global styles to this file, and also import other style files

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/


@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.mat-typography {
  background: #E5E5E5;
}

